    <%- include('../partials/header'); -%>

  
 
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        
                                        <th scope="col">Date</th>
                                        <th scope="col">Updates</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                               <tbody>
    <% orders.forEach(order => { %>
        <% 
            let orderStatus = '';

            order.items.forEach(item => {
                if (item.orderStatus === 'Return') {
                    orderStatus = 'Return Requested'; 
                } else if (item.orderStatus === 'Pending' && orderStatus !== 'Return Requested') {
                    orderStatus = 'Pending'; 
                } else if (item.orderStatus === 'Order Success' && orderStatus !== 'Return Requested' && orderStatus !== 'Pending') {
                    orderStatus = 'Order Success'; 
                }
            });

            if (orderStatus === '' && order.items.every(item => item.orderStatus === 'OrderCanceled')) {
                orderStatus = 'Order Canceled';
            }
        %>
        <tr>
            <td>2328</td>
            <td><b><%= order.user.username %></b></td>
            <td><%= order.user.email %></td>
            <td><%= order.totalAmount %></td>
            <td><%= order.createdAt %></td>
            <td>
                <% if (orderStatus === 'Order Canceled') { %>
                    <span class="badge rounded-pill alert-danger"><%= orderStatus %></span>
                <% } else if (orderStatus === 'Return Requested') { %>
                    <span class="badge rounded-pill alert-info"><%= orderStatus %></span>
                <% } else if (orderStatus === 'Pending') { %>
                    <span class="badge rounded-pill alert-warning"><%= orderStatus %></span>
                <% } else { %>
                    <span class="badge rounded-pill alert-success"><%= orderStatus %></span>
                <% } %>
            </td>
            <td class="text-end">
                <a href="/admin/order-details/<%= order._id %>" class="btn btn-md rounded font-sm">View</a>
               <%= console.log(order._id ); %>
                </td>
        </tr>
    <% }); %>
</tbody>

                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
          

          <%- include('../partials/footer'); -%>
