   <%- include('../partialsUser/header') -%>
 <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Cure Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
    
            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						<!-- Showing <span>9 of 56</span> Products -->
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                			
                			</div><!-- End .toolbox -->
                             
                          
                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    <% products.forEach(product => { %>
                                        <div class="col-6 col-md-4 col-lg-4">
                                            <div class="product product-7 text-center">
                                                <figure class="product-media">
                                                    <a href="/product/<%= product._id %>">
                                                        <img src="<%= product.images[0] %>" alt="Product image" class="product-image">
                                                    </a>
                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable addToWishlist" data-product-id="<%= product._id %>"><span>Add to Wishlist</span></a>
                                                    </div>
                                                </figure>
                                                <div class="product-body">
                                                 
                                                    <h3 class="product-title">
                                                        <a href="product.html">
                                                            <% let productName = product.productName.substring(0, 50).trim() + "..." %>
                                                            <%= productName %>
                                                        </a>
                                                    </h3>
                                                    <div >
                                                        <% if (product.offer||product.category.offer) { %>
                                                            <% console.log(product.category.offer); %>
                                                            <div class="offer-badge" style="color: blueviolet;">
                                                                <span class="offer-name "><%let productName = product.offer?product.offer.offerName:product.category.offer.offerName %>
                                                                
                                                                    <%= productName %></span>

                                                                <span class="offer-discount">

                                                                  <%let productDiscount =  product.offer?product.offer.discountPercentage:product.category.offer.discountPercentage %>
                                                                    <%= productDiscount %>% OFF
                                                                </span>
                                                                <span class="discounted-price ">
                                                                  &#8377;
                                                                  <%let productOfferPrice = product.offer?(product.price * (1 - product.offer.discountPercentage / 100)).toFixed(2):(product.price * (1 - product.category.offer.discountPercentage / 100)).toFixed(2) %>
                                                                       <%=productOfferPrice%> </span>
                                                              </div>
                                                              <del class="original-price product-price">&#8377; <%= product.price %></del>
                                                             <% } else { %>

                                                            <p class="product-price">&#8377; <%= product.price %></p>
                                                            
                                                        <% } %>
                                                    </div>
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-6 col-md-4 col-lg-4 -->
                                    <% }) %>
                                </div><!-- End .row -->
                            </div><!-- End .products -->
                                                                                    <nav aria-label="Page navigation">
							   <ul class="pagination justify-content-start ">
    <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
        </li>
    <% } %>
</ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="/shop">Clean All</a>
                				</div><!-- End .widget widget-clean -->
								</a>
<div class="widget widget-collapsible">
    <h3 class="widget-title">
        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
            Category
        </a>
    </h3><!-- End .widget-title -->

    <div class="collapse show" id="widget-1">
        <div class="widget-body">
            <div class="filter-items filter-items-count">
                <% categorys.forEach(category => { %>
                    <div class="filter-item">
                        <button class="btn btn-category" data-category="<%=category._id %>">
                            <%= category.category_name %> (<%= category.goodCount %>)
                        </button>
                    </div><!-- End .filter-item -->
                <% }) %>
            </div><!-- End .filter-items -->
        </div><!-- End .widget-body -->
    </div><!-- End .collapse -->
</div><!-- End .widget -->



        						
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
          <%- include('../partialsUser/footer') -%>
<script>

	$(document).ready(function() {
    $('.btn-category').click(function() {
        var selectedCategory = $(this).data('category');
console.log("worked");
        window.location.href = '/shop?category=' + selectedCategory;
    });
});

</script>

		  <script>

document.addEventListener('DOMContentLoaded', () => {
    const addToWishlistButtons = document.querySelectorAll('.addToWishlist');

    addToWishlistButtons.forEach(button => {
        button.addEventListener('click', async (event) => {
            event.preventDefault(); 

            const productId = button.dataset.productId;

            try {
                const response = await fetch('/wishListAdd', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productId })
                }).then(response => response.json())
				.then(data=>{
 if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Added to Wishlist',
                        text: 'The product has been added to your wishlist!',
                    });
                } else {
                    console.error('Failed to add product to wishlist');
                }
				})

               
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });
});
  

		  </script>
