<%- include('../partialsUser/header') -%>

<style>

      .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0; /* Set top to 0 to align with the top of the page */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px; /* Adjust this value to create space from the top */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 80%;
}


        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Form styles */
        .form-group {
            margin-bottom: 15px;
        }

        .form-row {
            margin-top: 15px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>


 <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
							  <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">User Profile</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <!-- <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li> -->
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								  
								    <li class="nav-item">
								        <a class="nav-link" href="#">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
                                      <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark"><%= user.username %></span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->
								 

								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<p>No downloads available yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
								    	<p>The following addresses will be used on the checkout page by default.</p>
<button id="openModalBtn" class="btn btn-primary">Add Address</button>

								    	<div class="row">
                                        
<!-- Button to trigger the modal -->
<!-- Button to trigger the modal -->

<!-- The modal -->
<div id="addressModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add Address</h2>
        <form action="/address" method="post" id="addressForm" >
            <!-- Address fields -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" id="mobile" name="mobile" class="form-control">
            </div>
              <div class="form-group ">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" required>
                </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pinCode">Postal Code</label>
                    <input type="text" id="pinCode" name="pinCode" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save Address</button>
        </form>
    </div>
</div>
<% addresses.forEach(address => { %>
    <div id="editAddressModal-<%= address._id %>" class="modal">
        <%= console.log(address._id ); %>
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Address</h2>
            <form action="/addressEdit/<%= address._id %>" method="post" id="addressFormEdit">
                <!-- Address fields -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"  name="name" class="form-control" required value="<%= address.name %>">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text"  name="mobile" class="form-control" value="<%= address.mobile %>">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text"  name="address" class="form-control" required value="<%= address.address %>">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pinCode">Postal Code</label>
                        <input type="text"  name="pinCode" class="form-control" required value="<%= address.pinCode %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="street">Street</label>
                        <input type="text"  name="street" class="form-control" required value="<%= address.street %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text"  name="city" class="form-control" required value="<%= address.city %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input type="text"  name="state" class="form-control" required value="<%= address.state %>">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Address</button>
            </form>
        </div>
    </div>

<% }) %>


                                            <% addresses.forEach(address => { %>

								    		<div class="col-lg-6" id="tab-address" aria-labelledby="tab-address-link">
                                                <br>
								    			<div class="card card-dashboard">
								    				<div class="card-body">
                                                        
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

														<p>
                                                        Name        : <%= address.name %>     <br>
														Mobile      : <%= address.mobile %>   <br>
														Address     : <%= address.address %>   <br>
														Postal Code : <%= address.pinCode %>  <br>
													    Street      : <%= address.street %>   <br>
														City        : <%= address.city %>    <br>
                                                        State        : <%= address.state %>  <br>

                                                         <a href="#" class="edit-address" data-address-id="<%= address._id %>">Edit</a>
                                                         <%= console.log(address._id ); %>
                                                        <a href="/addressDelete/<%= address._id %>" class="delete-address" data-address-id="<%= address._id %>">Delete <i class="icon-delete"></i></a>

								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                            <% }) %>
								    		
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
  <form id="update-user-form" >
    <div class="form-group">
        <label for="username">Username *</label>
        <input type="text" id="username" name="username" class="form-control" required value="<%= user.username %>">
    </div>

    <div class="form-group">
        <label for="email">Email address *</label>
        <input type="email" id="email" name="email" class="form-control" required value="<%= user.email %>" readonly>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number *</label>
        <input type="text" id="phonenumber" name="phonenumber" class="form-control" required value="<%= user.phonenumber %>">
    </div>

    <button type="submit" class="btn btn-outline-primary-2">
        <span>UPDATE CHANGES</span>
        <i class="icon-long-arrow-right"></i>
    </button>
</form>
<br>
             <button id="openModalBtn2" class="btn btn-primary">Change Password</button>

<div id="ChangeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Change Password</h2>
        <form  id="change-password">
            <!-- Password fields -->
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                        <span id="password-strength"></span>

            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
</div><!-- .End .tab-pane -->

								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

      
               <script> 

            // Get the modal
const modals = document.getElementById('ChangeModal');

// Get the button that opens the modal
const btns = document.getElementById('openModalBtn2');

// Get the <span> element that closes the modal
const spans = document.getElementsByClassName('close')[0];

// When the user clicks the button, open the modal
btns.onclick = function() {
  modals.style.display = 'block';
}

// When the user clicks on <span> (x), close the modal
spans.onclick = function() {
  modals.style.display = 'none';
}

        </script>


<script>

    document.addEventListener("DOMContentLoaded", function() {
        const changePasswordForm = document.getElementById("change-password");

        changePasswordForm.addEventListener("submit", function(event) {
            event.preventDefault();

            const currentPassword = document.getElementById("currentPassword").value;
            const newPassword = document.getElementById("newPassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
            var strengthIndicator = document.getElementById('password-strength');

            // Check if new password matches the confirmation
            if (newPassword !== confirmPassword) {
    Swal.fire({
                    icon: 'error',
                    title: 'Password Confirmation Error',
                    text: 'Password confirmation does not match.'
                });
                return;        
            }
        const passwordIsValid = checkPasswordStrength(confirmPassword);
        if (!passwordIsValid) {
               Swal.fire({
                    icon: 'error',
                    title: 'Password not strong',
                    text: 'Password must be true.'
                });
                return;   
        }


             function checkPasswordStrength(password) {
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        const isStrong = regex.test(password);

        const strengthIndicator = document.getElementById('password-strength');
        if (isStrong) {
            strengthIndicator.style.color = 'green';
            strengthIndicator.innerHTML = 'Strong password';
        } else {
            strengthIndicator.style.color = 'red';
            strengthIndicator.innerHTML = 'Password should be at least 8 characters long and include at least one lowercase letter, one uppercase letter, one digit, and one special character.';
        }

        return isStrong;
    }

        
            // Send the request to change the password
       fetch("/changepassword", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                currentPassword: currentPassword,
                newPassword: newPassword,
                confirmPassword: confirmPassword
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Password changed successfully',
                    showConfirmButton: false,
                    timer: 2500
                }).then((result) => {
                    window.location = "/profile";
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Password change failed',
                    text: data.message
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("An error occurred while changing password.");
        });
    });
    });
</script>

</script>




<script>


    document.addEventListener("DOMContentLoaded", function() {
        const updateForm = document.getElementById("update-user-form");

        updateForm.addEventListener("submit", function(event) {
            event.preventDefault();

           
            const email = document.getElementById("email").value.trim();
            const username = document.getElementById("username").value.trim();
            const phonenumber = document.getElementById("phonenumber").value.trim();

            if (!isValidEmail(email)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Email',
                    text: 'Please enter a valid email address'
                });
                return;
            }

            if (username.length < 3) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Username',
                    text: 'Username must be at least 3 characters long'
                });
                return;
            }

            if (!isValidPhoneNumber(phonenumber)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid Phone Number',
                    text: 'Phone number must be 10 digits long'
                });
                return;
            }

            // Make the fetch request
            fetch("/update-userProfile", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    phonenumber: phonenumber,
                    email: email
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Profile Edited',
                        showConfirmButton: false,
                        timer: 2500
                    }).then((result) => {
                        window.location = "/profile";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to edit profile'
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to edit profile'
                });
            });
        });
    });

    // Function to validate email format
    function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    // Function to validate phone number format
    function isValidPhoneNumber(phonenumber) {
        const phoneNumberRegex = /^\d{10}$/;
        return phoneNumberRegex.test(phonenumber);
    }



</script>

        <script> 

            // Get the modal
const modal = document.getElementById('addressModal');

// Get the button that opens the modal
const btn = document.getElementById('openModalBtn');

// Get the <span> element that closes the modal
const span = document.getElementsByClassName('close')[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = 'block';
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = 'none';
}

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = 'none';
//   }
// }




        </script>
<%- include('../partialsUser/footer') -%>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const editLinks = document.querySelectorAll('.edit-address');

        editLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                const addressId = link.getAttribute('data-address-id');
                const modal = document.getElementById('editAddressModal-' + addressId);

                modal.style.display = 'block';
            });
        });

        const spanEdit = document.querySelectorAll(".modal-content .close");

        spanEdit.forEach(function(span) {
            span.addEventListener('click', function() {
                const modal = span.closest('.modal');
                modal.style.display = 'none';
            });
        });


        


    });
</script>

